@import '../../assets/styles/scss/variables';

.aboutus {

    &-wrapper {
        overflow: hidden;
    }

    &-hero {
        &-wrapper {
            background-image: linear-gradient(to bottom, #171430, #1b0e22, #190817, #11040b, #000000);        
            min-height: 50rem;
            position: relative;
            overflow: hidden;
            color: #fff;
        }
    }

    &-inner {
        &-wrapper {
            padding: 2rem 1.5rem;
            display: flex;
            flex-direction: row;
            // justify-content: center;
            justify-content: space-between;
            height: 100%;
        }

        &-text {
            margin-top: 5rem;
        
            p {
                margin-top: 2rem;
                font-size: 1.5rem;
            }
        }

        &-img {
            // margin: 0 auto;
            text-align: center;
            margin: auto
            img {
                max-height: 70%;     
                margin: auto;           
            }
            
        }
    }

    &-team {
        &-wrapper {
            padding: 2rem;            
            text-align: center;  
            margin-top: 4rem;          
        }

        &-member {
            &-wrapper {
                display: grid;
                gap: 1.5rem;
                grid-template-columns: 26vw 26vw;
                // grid-auto-rows: 25vh;
                justify-content: center;
                padding: 3rem 1rem;                
                margin-bottom: 6rem;
            }

            &-item {
                justify-content: center;                
                text-align: center;
            }

            &-img {
                background-color: #ccc;
                height: 16vw;
                width: 16vw;
                border-radius: 50%;
                box-shadow: 10px 10.5px 15px rgba(10, 10, 10, 0.1);
                margin: 1rem auto;
                align-content: center;
                display: flex;
                flex-direction: column;
                
                img {
                    margin: auto;
                    height: 75%;
                }
            }

            &-bio {

            }
        }
    }

    &-testimonial {

        &-wrapper {

            text-align: center;
            margin: 4rem auto 20rem;            

        }

        &-item {
            min-height: 25vh;            
            max-height: 30vh;
            min-width: 50vw;
            max-width: 68vw;
            border: 1px solid rgba(10, 10, 10, 0.1);
            background-color: #f8f8f8;
            border-radius: 20px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 1rem;
            margin: 1rem auto;

        }

    }
}

@media screen and (max-width: 576px)  {
    
    .aboutus {
        &-inner {
            &-wrapper {
                // overflow: visible;                
            }

            &-img {
                img {
                    max-height: 35%;
                }
            }
        }

        &-hero{
            &-wrapper {
            // overflow: visible;
                min-height: 120vh;
            }
        }

        &-team {
            &-member {
                &-wrapper {
                    display: flex;
                    flex-direction: column;
                }

                &-item {
                    margin: 0.5rem auto;
                    min-height: 20vw;
                    // width: 20vw;
                }
            }
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 676px) {
    
    .aboutus-inner-img {
        img {
            max-height: 25%;
        }
    }

}

@media screen and (min-width: 677px) and (max-width: 768px) {
    
    .aboutus {
        &-inner {
            &-wrapper {
                // overflow: visible;                
            }

            &-img {
                img {
                    max-height: 65%;
                }
            }
        }

        // &-hero{
        //     &-wrapper {
        //     // overflow: visible;
        //         min-height: 120vh;
        //     }
        // }
    }

}

@media screen and (min-width: 376px) and (max-width: 575px) {
    
    .aboutus-inner-img {
        img {
            max-height: 20%;
        }
    } 

}

@media screen and (max-width: 375px) {

    .aboutus-inner-img {
        img {
            display: none;
        }
    }
    
}