@import 'variables';

.shadow {
    box-shadow: $shadow;
}

.invert-color {
    filter: brightness(50%) invert(1);            
}

.clip-path {
    &-triangle {
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        background-color: #000;

        min-height: 20vh;
        // display: block;
        position: absolute;        
    }
}

.theme-gradient {
    background-image: linear-gradient(to right top, #facf0e, #ffae32, #ff8f55, #ff7675, #ff6892, #f468a9, #e26cbf, #c973d2, #a77edf, #8187e5, #548ee4, #1192dc);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 15vh;
    content: '&nbsp;';
    margin-top: -10vh;
    clip-path: polygon(0vh 10vh, 100% 0vh, 100% 40%, 0vh 100%);
    z-index: 100;
    position:relative
}

// buttons
.btn {

    border-radius: 35px !important;
    font-weight: bold !important;

    box-shadow: $shadow;

    &-white {
        background-color: $white !important;
        color: #000 !important;
    }

    &-blue {
        background-color: $blue;
        color: #fff !important;
    }

    &-pink {
        background-color: $pink !important;
        color: #fff !important;
    }

    &-navy {
        background-color: $accent !important;
        color: #fff !important;
    }

    &-yellow {
        background-color: $yellow!important;
        color: #000 !important;

        a {
            color: #000;
        }       

        &:hover {
            background-color: transparent !important;
            border: 0.5px $yellow solid !important;
            color: $yellow !important; 
        }
    }    

    a {
        text-decoration: none; 
     }
}