
html {
    --shadow: 10px 10.5px 15px rgba(20, 20, 20, 0.1);
    --theme-glass-overlay: rgba(200, 200, 200, 0.1);
    --theme-glass-wrapper: rgba(255, 255, 255, 0.1);
    --theme-glass-bg: rgb(255, 2555, 255);
}

// colors
$accent: #171430;
// $accent: #365347;
$yellow: #facf03;
// $yellow: #ba895c;
$pink: #ed64b7;
$white: #fff;
$blue: #1192dc;

// shadow
$shadow: var(--shadow);

// glass
$glass-overlay: var(--theme-glass-overlay);
$glass-wrapper: var(--theme-glass-wrapper);
$glass-bg: var(--theme-glass-bg);